.page-password {
  .tab-content {
    padding-top: 50px;
    padding-bottom: 90px;
    display: none;
    &.active {
      display: block;
    }
  }
  .row {
    margin-left: 270px;
    margin-top: 5px;
    span:first-child {
      width: 100px;
      display: inline-block;
      color:#333;
      text-align: right;
      padding-right: 30px;
    }
  }
  .form-group {
    display: inline-block;
    position: relative;
    input {
      width: 260px;
      height: 40px;
    }
    .error-message {
      position: absolute;
      left: 270px;
      bottom: 0;
      color: #fd3a49;
      white-space: nowrap;
      .icon-error {
        width: 15px;
        height: 15px;
        display: inline-block;
        background: url(../img/icon-input-error.png);
        vertical-align: middle;
        margin-right: 5px;
      }
    }
  }
  .prompt {
    margin-left: 375px;
    margin-top: 10px;
  }
  .btn-group {
    .btn-1 {
      width: 180px;
      background-color: #fd3a49;
      color: #fff;
      display: block;
      padding: 8px;
      margin-left: 375px;
      margin-top: 25px;
    }
  }
  .success,.fail {
    padding-top: 160px;
    padding-bottom: 160px;
    font-size: 16px;
    .message-content {
      margin: 0 auto;
      width: 300px;
      .btn-group {
        .btn-1 {
          margin-left: 50px;
          margin-top: 40px;
        }
      }
      .message {
        .icon {
          width: 30px;
          height: 30px;
          display: inline-block;
          vertical-align: middle;
          margin-right: 20px;
        }
        .icon-suc {
          background: url(../img/submit.png);
        }
        .icon-fail {
          background: url(../img/submit-error.png);
        }
      }
    }
  }
}
